
[flake8]
# Recommend matching the black line length (default 88),
# rather than using the flake8 default of 79:
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # black ignores this rule when formatting:
    E231,
    # No docs for magic method
    D105,
    # No docs for __init__
    D107,
    # We prefered whitelines after docstrings
    D202,
exclude =
  .git,
  __pycache__,
  docs/source/conf.py,
  old,
  build,
  dist,
  model,
  .venv
